html {
  scroll-behavior: smooth;
}

body {
  color: var(--cor-preto-100);
  font-size: 0.875rem;
  font-family: var(--font-default);
  font-weight: var(--font-regular);
}

p {
  font-size: 1rem;
  line-height: 1.75;
  strong {
    font-weight: var(--font-bold);
  }
}
