@mixin destaqueBox {
  position: relative;
  padding-left: 28px;
  &::before {
    content: "";
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid var(--cor-verde-100);
  }
}

@mixin flex($align: initial, $justify: initial, $gap: 1rem) {
  display: flex;
  flex-wrap: wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin grid($align: initial, $justify: initial, $gap: 1rem) {
  display: grid;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin min-query($tamanho) {
  @media (min-width: $tamanho) {
    @content;
  }
}

@mixin minmax-query($tamanhoMin, $tamanhoMax) {
  @media (min-width: $tamanhoMin) and (max-width: $tamanhoMax) {
    @content;
  }
}

@mixin max-query($tamanho) {
  @media (max-width: $tamanho) {
    @content;
  }
}
