:root {
  --cor-verde-100: #56d7af;
  --cor-verde-150: #33b98f;
  --cor-azul-100: #00193c;
  --cor-preto-50: #777F8D;
  --cor-preto-100: #4f5665;
  --cor-branco-100: #E0E0E0;
  --cor-branco-300: #fff;

  --pop: cubic-bezier(0.64, -0.37, 0.37, 1.37);

  --font-default: "Montserrat", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-media: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
}
