.btn {
  border-radius: 2rem;
  color: var(--cor-branco-300);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.1em;
  padding: 0.875rem 1.125rem;
  text-transform: uppercase;

  position: relative;
  transition: 250ms var(--pop);

  &:hover,
  &:focus {
    transform: scale(1.03);
  }

  &--fill,
  &--line {
    &:hover,
    &:focus {
      background-color: var(--cor-verde-150);
      border: 2px solid var(--cor-verde-150);
    }
  }

  &--fill {
    background-color: var(--cor-verde-100);
    border: 2px solid var(--cor-verde-100);
  }
  &--line {
    border: 2px solid var(--cor-verde-100);
  }
}
